html {
	height: 100%;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgb(0,0,0,0.2);	
}

.logout_btn {
  float: right;
}

.login_fields {
  width: 80px;
}

.login_msg {
  text-align: center;
  color: red;
}

#context {
	text-align: center;
	padding-top:10%;
}

#lgout{
	margin-top: 15px;
	margin-left: 15px;
}

.size {
	width: 200px;
}